@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: #000;
}

.icon-small {
    width: 1.2em;
    height: 1.2em;
}

.active {
    @apply bg-yellow-100;
}

.note {
    width: 240px;
}

.note-content {
    max-height: 450px;
}
