@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.theme-light {
    --page-background: #fff;
    --bg-google-white: #fff;
    --bg-google-red: #f28b82;
    --bg-google-orange: #fbbc04;
    --bg-google-yellow: #fff475;
    --bg-google-green: #ccff90;
    --bg-google-teal: #a7ffeb;
    --bg-google-blue: #cbf0f8;
    --bg-google-dark-blue: #aecbfa;
    --bg-google-purple: #d7aefb;
    --bg-google-pink: #fdcfe8;
    --bg-google-brown: #e6c9a8;
    --bg-google-grey: #e8eaed;
    --text-color: #000;
    --active-menu-link-background: rgb(253, 246, 178);
    --menu-icon-color: #000;
    --search-field-background: #fff;
    --search-field-button-color: #000;
    --link-hover-color: #E5E7EB;
    --search-controls-border-color: #D1D5DB;
    --search-controls-background-color: transparent;
    --quote-background-color: #ececec;
    --quote-text-color: #025f01;
    --link-color: #00f;
    --dialog-background: #fff;
    --dialog-footer-background: #e5e7eb;
    --muted-color: #737171;
    --x-button-background: #D1D5DB;
    --note-border-color: #bcb7b7;
    --pill-border-color: #000;
    --empty-trash-button-hover-background: #EFF6FF;
    --empty-trash-button-focus-background: #DBEAFE;
}

.theme-dark {
    --page-background: #202124;
    --bg-google-white: #202124;
    --bg-google-red: #5c2b29;
    --bg-google-orange: #614a19;
    --bg-google-yellow: #635d19;
    --bg-google-green: #345920;
    --bg-google-teal: #16504b;
    --bg-google-blue: #2d555e;
    --bg-google-dark-blue: #1e3a5f;
    --bg-google-purple: #42275e;
    --bg-google-pink: #5b2245;
    --bg-google-brown: #442f19;
    --bg-google-grey: #3c3f43;
    --text-color: #e8eaed;
    --active-menu-link-background: #40331c;
    --menu-icon-color: #B6BCBEFF;
    --search-field-background: #525356;
    --search-field-button-color: #525356;
    --link-hover-color: #28292c;
    --search-controls-border-color: transparent;
    --search-controls-background-color: #292929;
    --quote-background-color: #2f3135;
    --quote-text-color: #65d811;
    --link-color: #02d1d2;
    --dialog-background: #2d2e30;
    --dialog-footer-background: #272829;
    --muted-color: #bcb7b7;
    --x-button-background: #374151;
    --note-border-color: #404040;
    --pill-border-color: #9a9a9a;
    --empty-trash-button-hover-background: #1E3A8A;
    --empty-trash-button-focus-background: #1E40AF;
}

.pill { border: 1px solid var(--pill-border-color) }
.empty-trash-button { @apply py-2 px-6 text-blue-500 text-sm font-bold focus:outline-none; }
.empty-trash-button:hover { background: var(--empty-trash-button-hover-background)!important; }
.empty-trash-button:focus { background: var(--empty-trash-button-focus-background)!important; }
.cancel-button { @apply text-sm font-medium px-6 py-2 mr-2 focus:outline-none rounded-sm; }
.cancel-button:hover { background: var(--link-hover-color) }

a, .text-color { color: var(--text-color) !important }
.main-page, nav, header { background: var(--page-background) }
nav a.active { background: var(--active-menu-link-background) }
.menu-icon-color { color: var(--menu-icon-color)!important; }
.search-field-background { background: var(--search-field-background) }
.search-field-button-color {
    color: var(--search-field-button-color);
}
.note * { color: var(--text-color) !important }
.modal-body { background: var(--dialog-background) }
.modal-footer { background: var(--dialog-footer-background) }

.modal-content .main { background: var(--dialog-background)!important; }
.modal-content .footer { background: var(--dialog-footer-background)!important; }

.modal-content input {
    background: transparent;
    color: var(--text-color);
}

.modal-content h1, .modal-content h2, .modal-content h3, .modal-content h4,
.modal-content h5, .modal-content h6,
.modal-content p, .modal-content a,
.collaborator-button { color: var(--text-color)!important }


.note-header-input,
.note-content-input {
    width: 94%!important;
}

.note-header-input { color: var(--text-color)!important; }
.note-header-input:focus { outline: none; }

ul {
    list-style: disc!important;
    margin-left: 1rem;
}

ol {
    list-style: decimal!important;
    margin-left: 1rem;
}

.note {
    width: 270px;
    border: 1px solid var(--note-border-color);
}

.new-note {
    border: 1px solid #404040;
}

.note pre, #edit-note-modal pre {
    background: var(--quote-background-color)!important;
    color: var(--quote-text-color)!important;
}

.note blockquote, #edit-note-modal blockquote {
    margin: 0 0 1rem;
    border-left: 3px solid #a20606;
    padding-left: .5rem;
}

trix-editor * { color: var(--text-color)!important }

trix-editor a, .note-content a {
    color: var(--link-color)!important;
    text-decoration: underline!important;
}

.toolbar a, .toolbar button { color: var(--text-color)!important; }
.toolbar a:hover, .toolbar button:hover { background: var(--link-hover-color)!important }

.muted { color: var(--muted-color)!important }

.x-button {
    background: var(--x-button-background);
}

nav a:hover:not(.active),
.menu-switcher a:hover,
.search-field-button-color a:hover { background: var(--link-hover-color)!important; }
.type-controls, .label-controls, .color-controls {
    border-width: 1px;
    border-color: var(--search-controls-border-color);
    background: var(--search-controls-background-color)!important;
}

.dropdown-menu {
    background: var(--page-background)!important;
    list-style: none!important;
}

.dropdown-item:hover, .dropdown-item:active { background: var(--link-hover-color) }


.bg-google-white { background: var(--bg-google-white) }
.bg-google-red { background: var(--bg-google-red) }
.bg-google-orange { background: var(--bg-google-orange) }
.bg-google-yellow { background: var(--bg-google-yellow) }
.bg-google-green { background: var(--bg-google-green) }
.bg-google-teal { background: var(--bg-google-teal) }
.bg-google-blue { background: var(--bg-google-blue) }
.bg-google-dark-blue { background: var(--bg-google-dark-blue) }
.bg-google-purple { background: var(--bg-google-purple) }
.bg-google-pink { background: var(--bg-google-pink) }
.bg-google-brown { background: var(--bg-google-brown) }
.bg-google-grey { background: var(--bg-google-grey) }


html {
    scroll-behavior: smooth;
}

.type-controls .icon {
    fill: #000;
}

.label-controls .icon {
    fill: #707070!important;
}

.main-page header {
    position: fixed!important;
    width: 100%!important;
    z-index: 2000!important;
}

.icon-2xl {font-size: 8em}
.icon-xl {font-size: 4em}
.icon-lg {font-size: 2em}
.icon {font-size: 1.5em}
.icon-sm {font-size: 1.2em}
.icon-xs {font-size: 0.8em}

.icon, .icon-xl, .icon-lg, .icon-sm, .icon-xs {color: var(--text-color)}

a:hover {text-decoration: none!important}


nav.collapsed {
    @apply fixed z-10;
    width: auto!important;
}

nav, nav:hover{
     width: 280px!important;
     position: fixed!important;
}

nav.collapsed a span {
    display: none;
}

nav.collapsed a {
    @apply rounded-full ml-1;
}

nav.collapsed svg {
    @apply m-0;
}

.edit-note-modal .modal-content { width: 634px!important }

.note-content {
    max-height: 450px;
}

.notes-container { margin-left: 250px }

[data-trix-button-group="file-tools"] { display: none!important }

.custom-tooltip, .tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 {
    @apply my-3;
}

.tooltiptext, .tooltip2text {
    @apply text-xs p-1;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: -150%;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.vertical-tooltiptext {
    background: var(--page-background);
    visibility: hidden;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.topbar-vertical-tooltiptext {
    bottom: 0;
    left: 0;
    top: 25px;
}

.custom-tooltip:hover .tooltiptext,
.tooltip2:hover .tooltip2text,
.custom-tooltip:hover .tooltip3text,
.custom-tooltip:hover .tooltip4text,
.custom-tooltip:hover .vertical-tooltiptext{
    visibility: visible;
    opacity: 1;
}

.color-circle {
    @apply border-2 transition border-transparent p-2 m-1 inline-block rounded-full;
}

.color-controls .color-circle {
    @apply border transition border-gray-600 p-6 m-1 inline-block rounded-full mr-4;
}

.color-controls .color-circle:hover {
    @apply border-black;
}

.color-controls .color-circle.active {
    @apply border-gray-800;
}

.color-circle .bi {
    @apply opacity-0;
}

.color-circle.active .bi {
    @apply opacity-40;
}

.labels-content {
    width: 600px;
}

.add-label-input:invalid + .tooltip {
    display: none;
}
.add-label-input:valid + .tooltip {
    display: inline;
}

section.search.active,
section.search.active input {
    background: #fff;
}

section.search.active {
    @apply shadow-md;
}

.blue-search-box-button {
    @apply bg-blue-600 text-white pt-14 text-center flex flex-col items-center;
    width: 24%;
}

.gray-search-box-button {
    @apply bg-gray-200 text-black pt-14 text-center flex flex-col items-center;
    width: 24%;
}

.search-box-button {
    width: 24%;
}

.search-controls.active,
.search-controls ~ .empty-trash,
.search-controls ~ .notes-container {
    display: block;
}

.search-controls,
.search-controls.active ~ .empty-trash,
.search-controls.active ~ .notes-container {
    display: none;
}

.search-controls .type_controls i {
    color: #fff!important;
}

.search-controls h2 { color: var(--text-color) }

.notification {
    width: 460px;
    z-index: 5000;
}

.notification_undo_button {
    @apply text-yellow-300 text-sm font-medium px-6 py-2 ml-4 hover:bg-gray-700 focus:outline-none focus:bg-gray-600 rounded-sm;
}


.modal-dialog header {
    display: none!important;
}

.modal-content {
    border-radius: 0.7rem!important;
    width: 84%!important;
}

.collaborators-footer {
    @apply rounded-b-md py-2 px-4 text-right;
    background: var(--dialog-footer-background);
}

.collaborators-content {
    @apply p-4;
    background: var(--dialog-background);
}

.modal-body{
    padding: 0!important;
}

.collaborators-dialog p {
    margin: 0;
}

.collaborator-image {
    @apply rounded-full;
    height: 32px;
    width: 32px;
}

.add-collaborator-input {
    @apply ml-4 flex-grow text-sm focus:outline-none;
}

.add-collaborator-input.invalid {
    @apply border-b border-red-600;
}

.collaborator-button {
    @apply text-sm font-medium px-6 py-2 focus:outline-none focus:bg-gray-400 rounded-sm;
}
.collaborator-button:hover {
    background: var(--link-hover-color);
}

.restore-button {
    @apply text-white bg-green-500 border border-green-600 text-sm font-medium px-2 py-2 mr-2 hover:bg-green-700 focus:bg-green-900 focus:outline-none rounded-sm;
}

.delete-forever-button {
    @apply text-white bg-red-500 border border-red-800 text-sm font-medium px-2 py-2 hover:bg-red-700 focus:bg-red-900 focus:outline-none rounded-sm;
}

.delete-button {
    @apply py-2 px-6 text-red-500 text-sm font-bold hover:bg-red-50 focus:bg-red-100 focus:outline-none;
}

.done-button {
    @apply text-sm font-medium px-6 py-2 mr-2 focus:outline-none rounded-sm;
    color: var(--text-color)!important;
}

.done-button:hover {
     background: var(--link-hover-color);
 }

.toolbar {
    @apply items-center;
}

.toolbar > .dropdown:first-child .dropdown-toggle {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.dropdown-item {
    padding: .75rem 1.5rem!important;
}

.dateTimePicker-modal .modal-content {
    padding: 1rem;
}

.weekdaysButtons {
    text-align: center;
}

.weekdaysButtons .btn {
    display: inline-block!important;
    border-radius: 50%!important;
    padding: 7px 0!important;
    width: 40px!important;
    height: 40px!important;
    margin-right: .4rem!important;
}

.weekdaysButtons .btn {
    box-shadow: none!important;
}

.weekdaysButtons .btn:hover,
.weekdaysButtons .btn:focus,
.weekdaysButtons .btn.focus {
    background: #28a745!important;
}

.weekdaysButtons .btn.active {
    background: #1e7e34!important
}

.image-viewer, .drawer {
    position: fixed;
    z-index: 4000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.drawer canvas {
    background: #f7f7f7;
}

.drawer .btn-link {
    padding: 0 0.2rem!important;
}

.drawer .btn-link:hover,
.drawer .btn-link:active,
.drawer .btn-link:focus {
    text-decoration: none!important;
}

.drawer svg {
    fill: transparent!important;
    width: 50px;
}

.drawer svg * {
    stroke: #6f6f6f;
}

.drawer .grid-dropdown-item:hover svg circle,
.grid-item-active {
    stroke: #4081f5!important;
}

.drawer svg .check circle,
.drawer svg .check path {
    fill: #4081f5!important;
}

.drawer svg .check path {
    stroke: #fff!important;
}

.drawer .color-circle,
.drawer .size-circle { @apply m-1 inline-block rounded-full mr-3 p-2 transition; }

.drawer .size-circle { @apply bg-black; }

.drawer .color-circle:hover,
.drawer .color-circle.active { @apply p-3 mr-1; }

.drawer .size-circle.active { @apply border-2 border-red-600; }
