@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: #000;
}

.icon-lg {
    width: 2em;
    height: 2em;
}

.icon-small {
    width: 1.2em;
    height: 1.2em;
}

.icon-xs {
    width: 0.8em;
    height: 0.8em;
}

nav a.active {
    @apply bg-yellow-100;
}

.note {
    width: 260px;
}

.note-content {
    max-height: 450px;
}

.tooltip, .tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 {
    @apply my-3;
}

.tooltiptext, .tooltip2text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip3text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -200%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip4text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -200%;
    left: 20%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.vertical-tooltiptext {
    background: #fff;
    visibility: hidden;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext,
.tooltip2:hover .tooltip2text,
.tooltip:hover .tooltip3text,
.tooltip:hover .tooltip4text,
.tooltip:hover .vertical-tooltiptext{
    visibility: visible;
    opacity: 1;
}

.color-circle.active {
    @apply border-gray-800;
}

.color-circle.active .icon-checkmark {
    @apply opacity-40;
}

.collaborators-content {
    width: 600px;
}

.trash-content {
    width: 430px;
}

.add-collaborator-input:invalid + .tooltip {
    display: none;
}
.add-collaborator-input:valid + .tooltip {
    display: inline;

}
.labels-content {
    width: 600px;
}

.add-label-input:invalid + .tooltip {
    display: none;
}
.add-label-input:valid + .tooltip {
    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -40px;
    top: 10px;
}

.dropdown-opener:focus ~ .dropdown .dropdown-content {
    display: block;
}

section.search.active,
section.search.active input {
    background: #fff;
}

section.search.active {
    @apply shadow-md;
}

.search-box-button {
    width: 24%;
}

.search-box-button .icon {
    fill: #fff;
}
